<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Clicked Row</title>
  <script src="./resources/primevue/cdn.jsdelivr.net_npm_vue@3.5.6_dist_vue.global.min.js"></script>
  <script src="./resources/primevue/cdn.jsdelivr.net_npm_primevue@4.0.7_umd_primevue.min.js"></script>
  <script src="./resources/primevue/cdn.jsdelivr.net_npm_@primevue_themes@4.0.7_umd_aura.min.js"></script>
  <script src="./resources/unpkg.com_jspdf@2.5.2dist_jspdf.umd.js"></script>
  <script src="./resources/unpkg.com_jspdf-autotable@3.8.4_dist_jspdf.plugin.autotable.js"></script>
  <script src="./resources/cdn.sheetjs.com_xlsx-0.20.3_package_dist_xlsx.full.min.js"></script>
  <script src="./resources/unpkg.com_file-saver@2.0.5_dist_FileSaver.min.js"></script>

</head>
<body>
  <div id="app">
    <div v-for="(table, i) in loggedTables" :key="i">
      <h3>{{ table.name }}</h3>
      <p-datatable :value="table.rows">
        <p-column v-for="(col, index) in table.columns" :key="index" :field="col.field" :header="col.header" />
      </p-datatable>
    </div>
  </div>

  <script type="module" src="./resources/jsonFormatter.js"></script>
  <script type="module" src="./resources/createTables.js"></script>
  <script type="module">
    import { loggedTables, CreateTables } from './resources/createTables.js';
    const { createApp, ref, onMounted } = Vue;

    const app = createApp({
      setup() {
        onMounted(() => {
          const params = new URLSearchParams(window.location.search);
          const transaction = params.get('transaction');
          document.body.insertAdjacentHTML('afterbegin', `<h2>Transaction: ${transaction}</h2>`);
          CreateTables(transaction);
        });
        return { loggedTables };
      },
    });

    app.use(PrimeVue.Config, {
      theme: {
        preset: PrimeVue.Themes.Aura,
      },
    });
    app.component('p-datatable',PrimeVue.DataTable);
    app.component('p-column', PrimeVue.Column);

    app.mount('#app');
  </script>
</body>
</html>
